body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    margin-left: 15vw;
    margin-right: auto;
    font-weight: bold;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
}

.headerRight {
    margin-right: 15vw;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.contentWelcome {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
}

.contentWelcome img {
    width: 30vw;
    height: auto;
}

.welcomeLeft h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.welcomeLeft p {
    font-size: 24px;
    color: #f9faf8;
}

.welcomeLeft button {
    background-color: #3882F6;
    color: #f9faf8;
}