.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft{
    margin-left: 50px;
}

.header p {
    font-size: 24px;
    color: #F9FAF8;
}

.headerRight {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.header a {
    font-size: 18px;
    color: #E5E7EB;
}