body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    margin-left: 12vw;
    margin-right: auto;
    font-weight: bold;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
}

.headerRight {
    margin-right: 12vw;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.contentWelcome {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7vw;
    padding: 5vw 0;
}

.welcomeLeft {
    margin-left: 12vw;
}

.contentWelcome img {
    width: 30vw;
    height: auto;
    margin-right: 12vw;
}

.welcomeLeft h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.welcomeLeft p {
    font-size: 24px;
    color: #f9faf8;
}

.welcomeLeft button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    border-radius: 8px;
    padding: 0.5vw 2vw;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer > h2 {
    display: flex;
    align-items: center;
    margin-top: 7vh;
}

.cards {
    display: flex;
    margin: 7vh 20vw;
    gap: 2vw;
    margin-bottom: 12vh;
}

.cards img {
    border: solid 2px #3882f6;
    border-radius: 9px;
}

.cards p {
    font-size: 18px;
    color: #1f2937;
}

.quoteContainer {
    background-color: #E5E7EB;
    display: flex;
    padding: 15vh 30vw;
}

.quoteAndAttribution {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.attribution {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}

.ctaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 30vh;
}

.ctaBox {
    display: flex;
    background-color: #3882F6; 
    align-items: center;
    justify-content: space-between;
    padding: 5vh 10vh;
    gap: 15vh;
    flex-basis: 100%;
    border-radius: 10px;
}

.ctaLeft {
    display: flex;
    flex-direction: column;
}

.ctaLeft p, .ctaLeft h3, .bottomButton {
    color: white;
}

.bottomButton {
    background-color: #3882F6;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    padding: .5vw 2vw;
}